    <% layout('layouts/boilerplate') %>
    <h1>Add Employee Details</h1>
    <form action="/employees" method="post">
        <label for="name">Enter name:</label>
        <input type="text" name="name" id="name" placeholder="Employee Name"><br>
        <label for="dob">Enter date of birth:</label>
        <input type="date" id="dob" name="dob" placeholder="D.O.B."><br>
        <label for="">Department Code</label>
        <input type="Number" name="depCode" value="<%=code%>"><br>
        <label for="email">Enter email:</label>
        <input type="email" id="email" name="email" placeholder="Email ID"><br>
        <label for="position">Select position:</label>
        <select name="position" id="position">
            <option value="Click">Click here</option>
            <%for (let post of department.consists){%>
                <option value="<%=post%> "><%=post%></option>
            <%}%>
        </select>
        <br>
        <label for="address">Enter address:</label>
        <input type="text" name="address" id="address" placeholder="Address"><br>
        <label for="salary">Enter salary:</label>
        <input type="Number" name="salary" id="salary" placeholder="Salary"><br><br>
        <button>Submit</button>
    </form>
    <!-- <form action="/employees/<%=code%>">
        <button>Back</button>
    </form> -->