    <% layout('layouts/boilerplate2') %>
    <div class="logpage">
        <div class="login">
            <section>
                <h2>Login</h2>
            </section>
            <section class="details">
                <form action="http://localhost:4269/departments" id="loginform" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" name="username" id="username" placeholder="username"><br><br>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" placeholder="Password"><br><br>
                    <button>Submit</button>
                </form>
            </section>
        </div>
    </div> 