    <% layout('layouts/boilerplate2') %>
    <div class="bgimg"></div>
    <div class="logpage">
        <div class="login">
            <section>
                <h2>Login</h2>
            </section>
            <section class="details">
                <form action="/login" id="loginform" method="POST">
                    <label for="username">Username:</label><br>
                    <input type="text" name="username" id="username" placeholder="username"><br><br>
                    <label for="password">Password:</label><br>
                    <input type="password" name="password" id="password" placeholder="Password"><br><br>
                    <div>
                        <button id="lgsub">Submit</button>
                    </div>
                </form>
            </section>
        </div>
    </div> 